p {
    color: orange;
    font-size: 2rem;
}

body {
    color: brown;
    padding: 55px 40px 0px 20px;
}

#nairobi_image {
    border: 20px solid purple;
}

.app-header {
    font-style: italic;
    font-size: 50px;
    font-family: monospace;
}

.app-header {
    font-style: bold;
    font-size: 40px;
    font-family: cursive;
}

h2 {
    font-style: bold;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

table, td, th {
    border: 2px solid red;
    border-collapse: collapse;
    border-radius: 10px;
}

th {
    background-color: azure;
}

table {
    margin: 5%;
}

.app-list, .app-paragraph{
    color: cornflowerblue;
}

a[href="https://developer.mozilla.org/"]{
   background-color: beige; 
   color: black;
   padding: 15px 20px;
   text-decoration: none;
   border-radius: 5px;
   box-shadow: inset;
}

.xyz {
    color: darkkhaki;
}