p {
    color: orange;
    font-size: 2rem;
}

html {
    background-color: blanchedalmond;
    padding: 55px 40px 0px 20px;
}

#nairobi_image {
    border: 20px solid purple;
}

.app-header {
    font-style: italic;
    font-size: 50px;
    font-family: monospace;
    color: darkblue;
}

table, td, th {
    border: 2px solid red;
    border-collapse: collapse;
    border-radius: 10px;
}

th {
    background-color: azure;
}

table {
    margin: 5%;
}